<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Demo react</title>
</head>
<body>
  <div id='root'>
    <script type='text/babel'>
      ReactDOM.render(<h1>ANH DEP TRAI</h1>, document.getElementById('root'));
    </script>
  </div>
</body>
<script src="lib/react.development.js"></script>
<script src="lib/react-dom.development.js"></script>
<script src="lib/browser.min.js"></script>
</html>